:root {
  --color-site-primary: #5451fb;
  --color-site-secondary: #3A4256;
  --color-site-complement-1: #f8f9fa;
  --color-site-complement-2: #5451fb;
  --color-site-complement-3: #ff8182;
  --color-site-black: #000000;
  --color-site-gray: #6c7076;
  --color-site-blue: #5451fb;
  --color-site-red: #e00000;
}